[
    {
        "domain": ".x.com",
        "expirationDate": 1807679927.140588,
        "hostOnly": false,
        "httpOnly": true,
        "name": "auth_token",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "7dab50081e023f8bd4ce071f1e0f397122e845a2"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1773128905.085685,
        "hostOnly": false,
        "httpOnly": false,
        "name": "gt",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "2031238207237427431"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1807679905.062572,
        "hostOnly": false,
        "httpOnly": false,
        "name": "guest_id",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "v1%3A177311990182289478"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1804655929.298281,
        "hostOnly": false,
        "httpOnly": false,
        "name": "twid",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "u%3D759721720957722625"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1806692536.390974,
        "hostOnly": false,
        "httpOnly": false,
        "name": "_twpid",
        "path": "/",
        "sameSite": "strict",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "tw.1772996536383.374530613924096998"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1773121711.563458,
        "hostOnly": false,
        "httpOnly": true,
        "name": "__cf_bm",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "tX67NPDkKfkz5O4nrX86Y_otz.zxh_2408jw4ntV_gw-1773119908.3293483-1.0.1.1-7Uc2zAn_Q3lOOSmsCFpCJEMWkin8nKhwrQOrReMym4.2uWR_Nv4MOls9CRTGoE0Ncu2pnBKX0U0yt7Qymg.BzbnhbOIhvjClbI7fKlod0LZTyrcR7258XANzrWdZB1yn"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1773206327.802116,
        "hostOnly": false,
        "httpOnly": true,
        "name": "att",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "1-4GW61wSUa7l5atM979RuYonFBTDg40n6iaTTgY6I"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1807679927.429994,
        "hostOnly": false,
        "httpOnly": false,
        "name": "ct0",
        "path": "/",
        "sameSite": "lax",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "dca86e1a8eb7412c84ad4c132fd5f9e4c0521b7bd415341a2fc42c2369396814d26299f5f7863721b8defea87f84685155f7e3f8663743ef5b83feb4a382d2a8028a8322cdea4419412dace28d70b9ad"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1807679904.741955,
        "hostOnly": false,
        "httpOnly": false,
        "name": "dnt",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "1"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1807679929.298141,
        "hostOnly": false,
        "httpOnly": false,
        "name": "guest_id_ads",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "v1%3A177311990182289478"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1807679929.29824,
        "hostOnly": false,
        "httpOnly": false,
        "name": "guest_id_marketing",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "v1%3A177311990182289478"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1807679927.140433,
        "hostOnly": false,
        "httpOnly": true,
        "name": "kdt",
        "path": "/",
        "sameSite": null,
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "vvyr39HopHDpaXkFePVjZV5SzVrFSm3vnD99Adwt"
    },
    {
        "domain": ".x.com",
        "expirationDate": 1807679914.717126,
        "hostOnly": false,
        "httpOnly": false,
        "name": "personalization_id",
        "path": "/",
        "sameSite": "no_restriction",
        "secure": true,
        "session": false,
        "storeId": null,
        "value": "\"v1_tX3xqEAVYJQr9I76Oz/Czw==\""
    }
]